<!-- cSpell:disable -->

<header class="btn">
  <button mat-button routerLink="/users">Users</button>
  <button mat-raised-button (click)="showTaskCreateForm()">Cadastrar</button>
  <button mat-raised-button (click)="showTaskRemoveForm()">Apagar</button>
</header>


<main>
  <section>
    <h3>A fazer</h3>
    <mat-selection-list #dotasks>
      <mat-list-option *ngFor="let task of doTasks">
        {{task.description}}
      </mat-list-option>
    </mat-selection-list>    
  </section>


  <section>
    <h3>Fazendo</h3>
    <mat-selection-list #dotasks>
      <mat-list-option *ngFor="let task of doingTasks">
        {{task.description}}
      </mat-list-option>
    </mat-selection-list>    
  </section>


  <section>
    <h3>Feito</h3>
    <mat-selection-list #dotasks>
      <mat-list-option *ngFor="let task of doneTasks">
        {{task.description}}
      </mat-list-option>
    </mat-selection-list>    
  </section>
</main>