h1 {
    font-size: 3rem;
}

p {
    color: #de1555;
}

button {
    background-color: #de1555;
    padding: 8px 12px;
    border-radius: 7px;
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    outline: 2px solid rgba(255, 0, 0, 0.3);
}
button:active {
    background-color: #9e1641;
}