<h1 mat-dialog-title>Remove a Student</h1>
<div mat-dialog-content>
  <p>Student name:</p>
  <mat-form-field appearance="fill">
    <mat-label>Student</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food">
      <mat-option *ngFor="let item of data" [value]="item[0]">{{ item[1] }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()" color="primary">Cancel</button>
  <button mat-button (click)="removeStudent()" cdkFocusInitial>Remove</button>
</div>
