<!-- cSpell:disable -->
<header class="btn">
    <button mat-button (click)="showCreateStudentForm()">Cadastrar</button>
    <button mat-button (click)="showDeleteStudentForm()">Apagar</button>
</header>



<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.attribute">
        <th mat-header-cell *matHeaderCellDef>{{ column.name }}</th>
        <td mat-cell *matCellDef="let row">
            <span *ngIf="column.attribute === 'status'" [ngStyle]="{'color':column.value(row) === 'Aprovado' ? 'green' : 'red'}">{{ column.value(row) }}</span>
            <span *ngIf="column.attribute !== 'status'">{{ column.value(row) }}</span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" mat-button (click)="showStudentInformation(row)"></tr>
</table> -->





<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <ng-container *ngFor="let column, attribute of displayedColumns, attributes" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ attribute }}</th>
    <td mat-cell *matCellDef="let student">{{student.position}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table> -->



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Idade</th>
    <td mat-cell *matCellDef="let element">{{element.age}}</td>
  </ng-container>

  <ng-container matColumnDef="note1">
    <th mat-header-cell *matHeaderCellDef>Nota1</th>
    <td mat-cell *matCellDef="let element">{{element.note1}}</td>
  </ng-container>

  <ng-container matColumnDef="note2">
    <th mat-header-cell *matHeaderCellDef>Nota2</th>
    <td mat-cell *matCellDef="let element">{{element.note2}}</td>
  </ng-container>

  <ng-container matColumnDef="average">
    <th mat-header-cell *matHeaderCellDef>Média</th>
    <td mat-cell *matCellDef="let element">{{element.average}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Condição</th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'color':element.status === 'Aprovado' ? 'green' : 'red'}">{{element.status}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>