<h1 mat-dialog-title>Estudante</h1>
<div mat-dialog-content>
   <form [formGroup]="studentForm">
        <div class="form-group">
            <label for="student">Nome</label>
            <input class="form-control" type="text" name="student_name" id="student_name" formControlName="student_name" required>
        </div>
        <div class="form-group">
            <label for="student">Idade</label>
            <input class="form-control" type="number" name="student_age" id="student_age" formControlName="student_age" min="7" max="100" required>
        </div>
        <div class="form-group">
            <label for="student">Nota 1</label>
            <input class="form-control" type="number" name="student_note1" id="student_note1" formControlName="student_note1" min="0" max="10" required>
        </div>
        <div class="form-group">
            <label for="student">Nota 2</label>
            <input class="form-control" type="number" name="student_note2" id="student_note2" formControlName="student_note2" min="0" max="10" required>
        </div>
    </form>
</div>
<div mat-dialog-actions class="btn">
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button mat-dialog-close mat-button (click)="saveStudent()">Cadastrar</button>
</div>