<h1 mat-dialog-title>Estudante</h1>
<div mat-dialog-content>
    <table>
        <tr>
            <th>ID</th>
            <td>{{ data.id }}</td>            
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ data.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ data.email }}</td>
        </tr>
        <tr>
            <th>Idade</th>
            <td>{{ data.age }}</td>
        </tr>
        <tr>
            <th>Nota1</th>
            <td>{{ data.note1 }}</td>
        </tr>
        <tr>
            <th>Nota2</th>
            <td>{{ data.note2 }}</td>
        </tr>
        <tr>
            <th>Média</th>
            <td>{{ data.average }}</td>
        </tr>
        <tr>
            <th>Condição</th>
            <td>{{ data.status }}</td>
        </tr>
    </table>
</div>
<div mat-dialog-actions class="btn">
  <button mat-button mat-dialog-close>Fechar</button>
</div>